:root {
  font-size: clamp(12px, 1vw, 18px);
}
@import "github-markdown-css/github-markdown.css";
html,
body {
  min-height: 100vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
