.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #18181d;
  min-height: 100vh;
  gap: 1rem;
  overflow-y: auto;

  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    flex: 0 0 45%;
    margin: 1rem 0.4rem 1rem;
    min-width: 340px;
    // min-height: 100%;
    padding: 1rem;
    // max-height: 90vh;
    min-height: 90vh;
    background-color: rgb(22, 22, 24);
    // overflow: auto;

    h1 {
      color: white;
      margin: 0;
      padding: 0;
    }
    .markdown_editor {
      // height: auto;
      overflow-x: auto;
      // min-height: 1024px;
      width: auto;
      max-height: 100%;
      padding: 1rem 0;
    }
    .preview {
      padding: 1rem;
      width: auto;
      max-height: 100%;
      // min-height: 1024px;
      // flex-grow: 1;
      color: rgb(235, 235, 235);
    }
  }
}
